<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ODIN Server</title>

</head>

<body>
    <div style="text-align: center;">
        <h1>{{project_name}} Placeholer</h1>
        <h2>This page means that no web GUI has been made for this project</h2>
        <p>The GUI should be made using <a href="https://stfc-aeg.github.io/odin-react">Odin React</a>, and this
            placeholder page should be deleted.</p>
        <p>If you are seeing this page unexpectedly, report this to {{author_name}}, the registered author of this
            project.</p>
    </div>
</body>

</html>
